/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* Base CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.container {
  width: 1100px;
  margin: 0 auto;
  padding-bottom: 100px;

}

a {
  text-decoration: none;
  color: #fff;
}

/* Header Area CSS */
.header-area {
  background-color: #000;
  border-radius: 20px;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

.header-text {
  padding: 80px 0 80px 80px;

}

.header-img img {
  width: 100%;
  height: 100%;
  padding: 30px 30px 0 30px;

}

.header-text h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.red-anchor {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: #DD0000;
  padding: 10px 30px;
  border-radius: 10px;
  margin-top: 20px;
}

/* Blog Area */
.blog-area {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-gap: 25px;
}

.game-schedule {
  background-color: #000;
  border-radius: 10px;
  padding: 25px;
  height: 260px;
}

.game-schedule a {
  display: block;
  background-color: #fff;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
  padding: 10px 30px;
  text-align: center;
  border-radius: 10px;

}

.game-schedule .colored-anchor {
  background-color: #DD0000;
  color: #fff;
}

.blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.blog-img img {
  width: 100%;
}

.blog-text {
  padding: 10px;
}

.blog-text .btn {
  padding: 10px 30px;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid #161616;
  border-radius: 5px;
}

.blog-text p {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.blog-text span {
  font-size: 16px;
  color: gray;
}

.blog-text span {
  margin-right: 30px;
}

.blog-icons {
  margin-right: 10px;
}

/* Footer Area */
footer {
  background-color: #000;
}

.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 80px 0;
}

.footer-text h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 50px;
}

hr {
  border: 1px solid #fff;
  opacity: 0.1;
  width: 80%;
  margin: 0 auto;
}

.footer-text ul {
  margin-top: 40px;
  display: flex;
}

.footer-text ul li {
  list-style-type: none;
  margin-right: 20px;
}

.footer-text ul li a {
  list-style-type: none;
  font-size: 16px;
  font-weight: 200;

}

/* Matches Area */

.matches {
  margin-top: 30px;
}

.blog-items {
  padding: 20px;
}

.blog-img {
  display: flex;
  align-items: center;
}

/* .blog-img-1,
.blog-img-2 {
  width: 80%;
} */

.blog-img p {
  margin: 0 10px;
}

.blog-details {
  text-align: center;
  margin-top: 20px;
}

.blog-details h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.blog-details p {
  font-size: 16px;
  font-weight: 400;
}